body {
  background-color: white;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

thead {
  background-color: lightblue;
  margin-bottom: 3px;
  border-bottom: 2px solid white
}

thead th {
  font-weight: normal;
  padding: 10px 3px;
}

thead th.bolder {
  font-weight: bold;
}

td {
  text-align: center;
  padding: 8px;
  cursor: pointer;
  border: 1px solid lightblue;
  min-width: 18px;
}

tr:last-child td {
  border-bottom: none;
}

td.month-name {
  font-weight: bold;
  text-align: left;
  cursor: default;
  border-left: none;
}

td.prev-month, td.next-month {
  color: transparent;
  cursor: default;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAIAAABvrngfAAAAMUlEQVQImWNce+OZs4IkAxJg/PDjPzJ/74PnTGh8ZwVJJjQ+AwMDExofKoTMZ2BgAADaohRdwRxCnQAAAABJRU5ErkJggg==');
}

td.selected {
  color: red;
  font-weight: bold;
}

td.bolder {
  font-weight: bold;
}

div#calendar {
  margin: 50px auto;
  border: 1px solid lightblue;
  background-color: aliceblue;
  display: table;
  overflow: hidden;
  border-radius: 5px;
}

h1,h2,h3,h4,h5 {
  text-align: center;
  color: #404040;
}

a {
  color: #B10909;
  font-weight: bolder;
  text-decoration: none;
}
